/************************************/
/*    CSS FOR THE HEADER SECTION    */
/************************************/


/*#header, #footer {
    color: #DDD;
    padding-left: 20px;
    background-color: #222222;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background: linear-gradient(to bottom,  #444 0%,#222 100%);
    line-height: 30px;
}
#header h1 {
    display: inline;
}
nav ul li {
    display: inline-block;
    transition: color 0.25s;
    margin-right: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #CCC;
    cursor: hand;
    cursor: pointer;
}
nav, nav ul {
    display: inline-block;
    margin-left: 20px;
}*/
.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }



/************************************/
/*     GENERAL CSS RULES FOR ALL    */
/************************************/
.active {
    color: #5E99FF;
}
.lined {
    border: 1px solid #AAA;
    background-color: #E8E8E8;
}
.boxed {
    box-sizing: border-box;
}
.centered {
    text-align: center;
}
.even {
    background-color: #E0E0E0;
}
.activeSelect, .activeSelect > td {
    background-color: #D3DFF5 !important;
    border: 1px solid #5E99FF;
}
.topspace {
    margin-top: 20px;
}
.floatright {
    float: right;
}

.floatleft {
    float: left;
}
.clear {
    clear: both;
}
/************************************/
/*     CSS FOR THE LEFT SECTION     */
/************************************/


div[dropzone] {
    /*height: 230px;*/
    border: 4px dashed #bbb;
    transition: border 0.25s;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 5px 15px 5px;
}
div[dropzone].dropover {
    color: #5E99FF;
    border: 3px dashed #5E99FF;
}
div[dropzone] ul {
    margin-top: 10px;
    margin-bottom: 0;
}
div[dropzone] ul li {
    line-height: 15px;
}
div[dropzone] ul li b {
    display: inline-block;
}

.spectralList {
    /*height: calc(100% - 250px);*/
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
.spectralList > ul {
    width: 100%;
}
.spectralList ul, .spectralList li, .spectralList p, .spectralList .info {
    display: inline-block;
}
.spectralList li {
    font-size: 14px;
    padding-left: 10px;
    height: 40px;
    width: 100%;
    line-height: 40px;
}
.spectralList .info {
    padding-left: 10px;
}

/************************************/
/*    CSS FOR THE CENTER SECTION    */
/************************************/
.overviewItem {
    width: 300px;
    height: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    position: relative;
}

.overviewItem.overviewLarge {
    width: 100%;
    height: 200px;
}
.overviewItem .topbar {
    overflow: hidden;
    height: 30px;
    line-height: 30px;
    width: 100%;
    background-color: #CCC;
    background: linear-gradient(to bottom,  #DDD 0%,#CCC 100%);
    display: block;
}
.overviewItem .topbar b {
    margin-left: 10px;
}
.overviewItem .topbar p {
    display: inline;
    margin-left: 15px;
}
.overviewItem .graph {
    display: block;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

.usage h1 {
    colour: #222;
    line-height: 1.5em;
}

.usage h2 {
    color: #444;
    font-size: 22px;
    line-height:  1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
}
.usage p {
    color: #555;
    line-height: 1.6em;
    font-size: 1em;

}
.usage .h1group {
    margin-bottom: 10px;
    padding: 0px 30px 30px 30px;
}

.usage hr {
    border: 0;
    margin-top: 0px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}


.usage ul {
    padding: 10px 0 10px 0;
    list-style-type: circle;
}
.usage li {
    margin-left: 50px;
}


#detailedheader {
    overflow: hidden;
    min-height: 30px;
    height: 30px;
    margin-bottom: 0px;
    color: #CCC;
    line-height: 30px;
    vertical-align: middle;
}
#detailedheader p em {
    color: #DDD;
    font-weight: bold;
    font-style: normal;
    margin-left: 20px;
}
#big {
    width: 100%;
    height: 400px;
}

#detailedCanvas {
    cursor: crosshair;
}

input[type="checkbox"].form-control {
    width: 34px;
}

/************************************/
/*    CSS FOR THE RIGHT SECTION     */
/************************************/
#detailedControl b {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}
#detailedControl .button {
    transition: background-color 0.25s;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border: 1px solid #444;
    border-radius: 5px;
    margin-right: 10px;
}

#detailedControl label, #detailedControl select, #detailedControl input {
    display: inline-block;
}
#detailedControl label {
    width: 70px;
    height: 20px;
    margin-bottom: 10px;
    font-weight: normal;
}

.sline {
    text-size: 13pt;
    text-align: center;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 5px;
    float: left;
    width: 40px;
    height: 30px;
    color: #999999;
    cursor: hand;
    cursor: pointer;
    transition: background-color 0.25s;

}
.sline.enabled {
    color: #222222;
}
.sline:hover {
    background-color: #ADD6FF;
}
.glowing li {
    border: 1px solid #5E99FF;
    -webkit-box-shadow: 0px 0px 5px 5px rgba(63, 169, 255, 0.2);
    -moz-box-shadow: 0px 0px 5px 5px rgba(63, 169, 255, 0.2);
    box-shadow: 0px 0px 5px 5px rgba(63, 169, 255, 0.2);
}


.bs-callout {
    /*margin: 20px 0;*/
    margin-bottom: 10px;
    padding: 15px 30px 15px 15px;
    border: 1px solid #eee;
    border-left: 5px solid #eee;
}
.bs-callout h1,
.bs-callout h2,
.bs-callout h3,
.bs-callout h4,
.bs-callout h5,
.bs-callout h6 {
    margin-top: 0;
}

.bs-callout-danger h1,
.bs-callout-danger h2,
.bs-callout-danger h3,
.bs-callout-danger h4,
.bs-callout-danger h5,
.bs-callout-danger h6 {
    color: #B94A48;
}

.bs-callout-warning h1,
.bs-callout-warning h2,
.bs-callout-warning h3,
.bs-callout-warning h4,
.bs-callout-warning h5,
.bs-callout-warning h6 {
    color: #f09a2d;
}

.bs-callout-info h1,
.bs-callout-info h2,
.bs-callout-info h3,
.bs-callout-info h4,
.bs-callout-info h5,
.bs-callout-info h6 {
    color: #3A87AD;
}

.bs-callout-success h1,
.bs-callout-success h2,
.bs-callout-success h3,
.bs-callout-success h4,
.bs-callout-success h5,
.bs-callout-success h6 {
    color: #3C763D;
}

.bs-callout p:last-child {
    margin-bottom: 0;
}

.bs-callout code,
.bs-callout .highlight {
    background-color: #fff;
}

/* Themes for different contexts */
.bs-callout-danger {
    background-color: #fcf2f2;
    border-color: #dFb5b4;
}
.bs-callout-warning {
    background-color: #fcf7f2;
    border-color: #f0ad4e;
}
.bs-callout-info {
    background-color: #f0f7fd;
    border-color: #d0e3f0;
}
.bs-callout-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
/************************************/
/*    CSS FOR THE FOOTER SECTION    */
/************************************/


.footer p {
    display: inline-block;
}

.footer progress {
    display: inline-block;
}
.fillrest {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: block;
    overflow:hidden;
}
.progress {
    margin-bottom: 5px !important;
}