/*html, body {
    height: 100%;
    min-width: 800px;
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;
    font-family: Helvetica,Arial,sans-serif;
}*/
/*#footer, .push {
    height: 50px; *//* '.push' must be the same height as 'footer' *//*
    z-index: 10;
}
#header {
    height: 50px;
}
#containertotal {
    height: calc(100% - 50px); *//* Footer subtract *//*
    position: relative;

}
#container {
    height: calc(100% - 50px); *//* Header subtract *//*
    position: relative;

}*/
#leftbar {
    float: left;
    position: relative;
    width: 200px;
    height: 100%;
    overflow: auto;
}
#rightbar {
    position: relative;
    float: right;
    width: 0px;
    height: 100%;
    overflow: auto;
}
#rightbar.nonzero{
    width: 330px;
}
#central {
    position: relative;
    height: 100%;
    overflow: auto;
}

.spacing {
    position: relative;
    padding: 10px;
    height: 100%;
    width: 100%;
    /*height: calc(100% - 20px);*/
    /*width: calc(100% - 20px);*/
}
#leftbar .spacing {
    overflow: hidden;
}

/****************************************************/


/*#header {
    background-color: green;
}
#container {
    background-color: dodgerblue;
}*/
/*#content {
    background-color: #5E99FF;
}*/
#leftbar {
    background-color: #E0E0E0;
}
#rightbar {
    background-color: #E0E0E0;
}

#central {
    background-color: #F0F0F0;
}
