html, body, .filler {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
}
.relative {
    position: relative;
}
html, body {
    min-width: 1275px;
}
body {
    background-color: #FCFCFC;
}
.overview2 {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
}
.splash {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#underNavContainer {
    position: absolute;
    top: 50px;
    bottom: 50px;
    left: 0;
    right: 0;
}

#sidebar {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 213px;
}

#afterSideBarContainer {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 213px;
    right: 0;
    overflow: auto;
}

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
}

.spacing {
    padding: 10px;
    width: 100%;
    height: 100%;
}