html, body, .main {
    height: 100%;
    min-height: 100%;
    position: relative;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.main {
    position: absolute;
    width: 100%;
}
.container {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.container.containerFooter {
    bottom: 50px;
}
.footer {
    height: 30px;
    background: linear-gradient(to bottom,  #333 0%,#222 100%);
    clear: both;
    position: absolute;
    left: 0px;
    line-height: 20px;
    vertical-align: middle;
    color: #DDD;
    padding: 10px 10% 5px 10%;
    right: 0px;
    bottom: 0px;
}
.content {
    position: absolute;
    bottom: 0px;
    width: 100%;
    top: 50px;
}
body {
    padding: 0;
    margin: 0;
    background-color: #E5E5E5;
    font-family: Helvetica,Arial,sans-serif;
}
h1 {
    margin: 0;
    padding: 0;
    display: inline-block;
}
.header {
    color: #DDD;
    padding-left: 20px;
    background-color: #222222;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
    background: linear-gradient(to bottom,  #444 0%,#222 100%);
}
.header {
    height: 50px;
    line-height: 50px;
}
.header nav, .header ul {
    display: inline-block;
    vertical-align: top;
}
.header h1 {
    margin-right: 40px;
}
nav ul li {
    display: inline-block;
    transition: color 0.25s;
    margin-right: 30px;
    text-transform: uppercase;
    text-align: center;
    color: #CCC;
    cursor: hand;
    cursor: pointer;
}
nav ul li.active {
    color: #5E99FF;
}
.boxed {
    margin: 10px;
    box-sizing: border-box;
}
.lined {
    border: 1px solid #AAA;
    background-color: #E8E8E8;
}
.left {
    width: 280px;
}
.scroll {
    position: absolute;
    bottom: 0px;
    top: 250px;
    overflow: auto;
}
.spectralList ul {
    width: 99%;
}
div[dropzone] {
    height: 230px;
    border: 4px dashed #bbb;
    transition: border 0.25s;
    border-radius: 5px;
    padding: 10px 0 10px 0;
    text-align: center;
    font-size: 16pt;
    font-weight: bold;
    color: #bbb;
    margin-bottom: 20px;
}
div[dropzone].dropover {
    border: 3px dashed #5E99FF;
}

div[dropzone] .info {
    color: #333;
    font-weight: normal;

}
div[dropzone] .info ul {
    margin-top: 20px;
}
div[dropzone] .info li {
    color: #333;
    font-size: 12pt;
    text-align: left;
    margin-bottom: 3px;
}
div[dropzone] .info li .label {
    width: 100px;
    display: inline-block;
    padding-left: 10px;
    font-weight: bold;
    text-align: left;
}

.spectraSmall {
    width: 100%;
    height: 50px;
    line-height: 50px;
    vertical-align: middle;
}
.spectraSmall p {
    height: 100%;
    display: inline-block;
    box-sizing: border-box;
    border-left: 10px solid transparent;
    font-weight: bold;
    vertical-align: middle;
}
.spectraSmall p .info {
    font-weight: normal;
}

.spectraSmall .info {
    width: 80%;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
}
.centralheader {
    background-color: #222222;
    color: #E8E8E8;
    line-height: 50px;
    font-weight: bold;
    font-size: 20px;
    display: block;
    overflow: hidden;
    position: absolute;
    margin: 10px;
    top: 0px;
    height: 50px;
    right: 0px;
    background: linear-gradient(to bottom,  #444 0%,#222 100%);
    left: 300px;
}
.centralheader p {
    display: inline-block;
    margin-left: 30px;
}
.central {
    margin: 10px;
    position: absolute;
    left: 300px;
    top: 0px;
    bottom: 0px;
    right: 0px;
    /*border: 1px solid red;*/
    overflow: auto;
}
.central.allowHeader {
    top: 60px;
}
.overviewList {
    overflow: hidden;
}
.overviewItem {
    margin-right: 10px;
    margin-bottom: 10px;
    float: left;
    position: relative;
}
.overviewLarge {
    width: 730px;
    height: 250px;
}
.overviewSmall {
    width: 300px;
    height: 150px;
}
.activeSelect {
    background-color: #D3DFF5;
    border: 1px solid #5E99FF;
}
.topbar b {
    padding: 0 10px 0 10px;
    display: inline;
}
.topbar p {
    display: inline;
}
.topbar {
    height: 30px;
    line-height: 30px;
    vertical-align: middle;
    overflow: hidden;
    width: 100%;
    background-color: #CCC;
    background: linear-gradient(to bottom,  #DDD 0%,#CCC 100%);
    display: block;
}

.overviewItem .graph {
    display: block;
    position: absolute;
    top: 30px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

#big {
    height: 500px;
}

input[type='range'] {
    -webkit-appearance: none !important;
    background: #888;
    height: 2px;
    width: 100%;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    background:#5E99FF;
    height:10px;
    width:10px;
    border-radius: 5px;
}

label {
    display: inline-block;
}
input,select{
    margin-left: 10px;
    margin-right: 10px;
}

.floatleft {
    float: left;
}
.floatright {
    float: right;
}
.fill {
    overflow: hidden;
}
.numberInput {
    width: 50px;
}

.usage h1 {
    colour: #222;
    line-height: 1.5em;
}

.usage h2 {
    color: #444;
    font-size: 22px;
    line-height:  1.5em;
    margin-bottom: 10px;
    margin-top: 20px;
}
.usage p {
    color: #555;

}
.usage .h1group {
    margin-bottom: 20px;
    padding: 30px;

}
.usage hr {
    border: 0;
    margin-top: 0px;
    height: 1px;
    background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image:    -moz-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image:     -ms-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
    background-image:      -o-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}


.usage ul {
    padding: 10px 0 10px 0;
    list-style-type: circle;
}
.usage li {
    margin-left: 50px;
}

.footer p {
    display: inline-block;
}

.footer progress {
    display: inline-block;
}
progress:not(value) {
    /* Add your styles here. As part of this walkthrough we will focus only on determinate progress bars. */
}
/* Styling the determinate progress element */
progress[value] {
    /* Get rid of the default appearance */
    appearance: none;
    /* This unfortunately leaves a trail of border behind in Firefox and Opera. We can remove that by setting the border to none. */
    border: none;
    /* Add dimensions */
    width: 100%; height: 16px;
    /* Although firefox doesn't provide any additional pseudo class to style the progress element container, any style applied here works on the container. */
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
    /* Of all IE, only IE10 supports progress element that too partially. It only allows to change the background-color of the progress value using the 'color' attribute. */
    color: royalblue;

    position: relative;
    margin-top: 2px;
}

progress[value]::-webkit-progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;
}
progress[value]::-webkit-progress-value {
    position: relative;

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Let's animate this */
    animation: animate-stripes 100s linear infinite;
    -webkit-animation: animate-stripes 100s linear infinite;
}

@-webkit-keyframes animate-stripes {
    100% { background-position: -1000px 0px; }
}

@keyframes animate-stripes {
    100% { background-position: -1000px 0px; }
}
/* Let's spice up things little bit by using pseudo elements. */

/*progress[value]::-webkit-progress-value:after {
    *//* Only webkit/blink browsers understand pseudo elements on pseudo classes. A rare phenomenon! *//*
    content: '';
    position: absolute;

    width:5px; height:5px;
    top:7px; right:7px;

    background-color: white;
    border-radius: 100%;
}*/

/* Firefox provides a single pseudo class to style the progress element value and not for container. -moz-progress-bar */

progress[value]::-moz-progress-bar {
    /* Gradient background with Stripes */
    background-image:
        -moz-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -moz-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -moz-linear-gradient( left, #09c, #04c204);

    background-size: 35px 20px, 100% 100%, 100% 100%;
    border-radius:3px;

    /* Firefox doesn't support CSS3 keyframe animations on progress element. Hence, we did not include animate-stripes in this code block */
}

/* Fallback technique styles */
.progress-bar {
    background-color: whiteSmoke;
    border-radius: 3px;
    box-shadow: 0 2px 3px rgba(0,0,0,.5) inset;

    /* Dimensions should be similar to the parent progress element. */
    width: 100%; height:16px;
}


/* The percentage will automatically fall in place as soon as we make the width fluid. Now making widths fluid. */
.html5::-webkit-progress-value {
    /* Gradient background with Stripes */
    background-image:
        -webkit-linear-gradient( 135deg,
        transparent,
        transparent 33%,
        rgba(0,0,0,.1) 33%,
        rgba(0,0,0,.1) 66%,
        transparent 66%),
        -webkit-linear-gradient( top,
        rgba(255, 255, 255, .25),
        rgba(0,0,0,.2)),
        -webkit-linear-gradient( left, #09c, #04c204);
}

.fillrest {
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    display: block;
    overflow:hidden;
}

button {
    background: linear-gradient(to bottom, #94D9FF 0%,#0070FF 100%);
    /*background: -moz-linear-gradient(top,#94D9FF 0%,#0070FF);*/
    /*background: -webkit-gradient(linear, left top, left bottom,from(#94D9FF),to(#0070FF));*/
    border-radius: 3px;
    padding: 3px;
    border: 1px solid black;
    color: black;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}
button:hover {
    border-color: white;
    -webkit-transition: all 1s ease-out;
    -moz-transition: all 1s ease-out;
    -o-transition: all 1s ease-out;
    transition: all 1s ease-out;
}