<!DOCTYPE html>
<html>
<head>
    <title>InterfaceZ: Return of the Z-iffying</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/structure.css" rel="stylesheet"/>
    <link href="css/detailed.css" rel="stylesheet"/>
    <link href="css/fancy.css" rel="stylesheet"/>
    <script src="js/jquery-2.1.0.js"></script>

    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-drop.js"></script>

    <script src="js/fits.js"></script>
    <script src="js/FileSaver.js"></script>
    <script src="js/regression.js"></script>

    <script src="js/tools.js"></script>
    <script src="js/spectralLines.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/views.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/app.js"></script>
</head>
<body ng-app="thesis" ng-controller="MainController">
    <div id="container">
        <div id="header">
            <div class="spacing">
                <h1>InterfaceZ</h1>
                <nav class="menu" ng-click="$event.preventDefault()">
                    <ul>
                        <li ng-repeat="i in interfaceManager.menuOptions" ng-click="$parent.goToMenu(i)" ng-class="{active:i==interfaceManager.menuActive}">
                            <h2>{{i}}</h2>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        <div id="content">
            <div id="leftbar">
                <div class="spacing">
                    <div class="boxed fitsFileSelector" dropzone>
                        <h3 class="centered" ng-show="!fits.properties[0]">Drop a FITS File</h3>
                        <div class="info" ng-show="fits.properties[0]">
                            <h3 class="centered" >{{fits.properties[0].value}}</h3>
                            <ul>
                                <li ng-repeat="i in fits.properties | onlyDisplay"><b class="label">{{i.label}}:</b> {{i.displayValue}}</li>
                            </ul>
                        </div>
                    </div>
                    <div class="boxed lined spectralList">
                        <ul>
                            <li ng-class-even="'even'" ng-repeat="i in spectraManager.getAll() track by i.id" ng-dblclick="$parent.goToDetailed()" ng-click="$parent.setSpectraIndex(i.index)" ng-class="{activeSelect:interfaceManager.spectraIndex==i.index}" class="spectraSmall">
                                <p><b>{{i.id}}</b></p>
                                <div class="info" id="spectra{{i.id}}">
                                    <p ng-show="i.templateIndex==null">Not analysed</p>
                                    <p ng-show="i.templateIndex!=null">{{i.getFinalTemplate()}},  z={{i.getFinalRedshift().toFixed(4)}},      &Chi;<sup>2</sup>: {{i.templateChi2.toFixed(0)}}</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div id="rightbar" ng-class="{nonzero:(interfaceManager.menuActive=='Overview' || interfaceManager.menuActive=='Detailed')}">
                <div ng-class="{spacing:(interfaceManager.menuActive=='Overview' || interfaceManager.menuActive=='Detailed')}">
                    <div class="dataselector" ng-show="interfaceManager.menuActive=='Overview' || interfaceManager.menuActive=='Detailed'">
                        <b>Data Selection:</b>
                        <p class='button' style="background-color: {{interfaceManager.getButtonColour('raw')}}" ng-click="toggleDisp('raw')">Raw</p>
                        <p class='button' style="background-color: {{interfaceManager.getButtonColour('pro')}}" ng-click="toggleDisp('pro')">Processed</p>
                        <p class='button' style="background-color: {{interfaceManager.getButtonColour('templ')}}" ng-click="toggleDisp('templ')">Template</p>
                    </div>
                    <div class="topspace" ng-if="interfaceManager.menuActive=='Detailed'">
                        <b>Template Details:</b>
                        <label>Template:</label>
                        <select style="width: 250px" ng-change="$parent.changedTemplate()" ng-model="$parent.interfaceManager.detailedViewTemplate" data-ng-options="t.index as t.id + ' - ' + t.name for t in $parent.templateManager.getTemplatesAsJson()"></select>

                        <label>Scale: </label>
                        <input style="width: 50px" type="text" ng-change="$parent.interfaceManager.detailedSettings.updateTemplateScale()" ng-model="$parent.interfaceManager.detailedSettings.templateScale">
                        <input style="width: 190px" type="range" min="{{$parent.interfaceManager.detailedSettings.minScale}}" max="{{$parent.interfaceManager.detailedSettings.maxScale}}"  step="0.01" ng-change="$parent.interfaceManager.detailedSettings.setTemplateScale()" ng-model="$parent.interfaceManager.detailedSettings.templateScale">

                        <label>Redshift: </label>
                        <input style="width: 50px" type="text" ng-change="$parent.changedTemplate()" ng-model="$parent.interfaceManager.detailedViewZ">
                        <input style="width: 190px" type="range" min={{$parent.interfaceManager.getMinRedshiftForDetailedTemplate()}} max="{{$parent.interfaceManager.detailedViewZMax}}" step="0.0001" ng-change="$parent.interfaceManager.detailedUpdateRequired=true" ng-model="$parent.interfaceManager.detailedViewZ">
                        <button style="display: block; width: 200px; margin: 0 auto;" ng-click="$parent.interfaceManager.saveManual()">Save this redshift</button>
                    </div>
                    <div class="topspace" ng-if="interfaceManager.menuActive=='Detailed'">
                        <b>Spectral Lines</b>
                        <ul ng-class="{glowing:interfaceManager.detailedSettings.getWaiting()}">
                            <li class="sline lined"  ng-click="$parent.interfaceManager.clickSpectralLine(i.id)" ng-class="{enabled:i.enabled}" ng-repeat="i in spectalLines.getAll() track by i.id">
                                    {{i.name}}
                            </li>
                        </ul>
                        <button style="display: block; width: 200px; margin: 0 auto;" ng-click="$parent.interfaceManager.detailedSettings.toggleSpectralLines()">{{getSpectralLinePhrase()}}</button>
                    </div>
                </div>
            </div>
            <div id="central">
                <div class="spacing">
                    <div class="overviewList" ng-show="interfaceManager.menuActive=='Overview'">
                        <ul>
                            <li class="overviewItem lined" ng-dblclick="$parent.goToDetailed()" ng-click="$parent.setSpectraIndex(i.index)" ng-class="{activeSelect:interfaceManager.spectraIndex==i.index}" ng-repeat="i in spectraManager.getAll() track by i.id">
                                <div class="topbar"><b>ID: {{i.id}}</b><p ng-show="i.templateIndex!=null">T: {{i.getTemplateId()}}, z={{i.templateZ.toFixed(4)}} Chi2: {{i.templateChi2.toFixed(0)}}</p></div>
                                <div class="graph"><canvas id="smallGraphCanvas{{$index}}" style="width:100%; height:100%;"></canvas>{{interfaceManager.renderOverview($index)}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="templateList" ng-show="interfaceManager.menuActive=='Templates'">
                        <ul>
                            <li class="overviewItem lined overviewLarge" ng-repeat="t in templateManager.getAll() track by t.id">
                                <div class="topbar"><b>Template ID: {{t.id}}</b><p>{{t.name}},  &Aring;: {{t.start_lambda_linear.toFixed(1)}} &rarr; {{t.end_lambda_linear.toFixed(1)}}</p></div>
                                <div class="graph"><canvas id="smallTemplateCanvas{{$index}}" style="width:100%; height:100%;"></canvas>{{interfaceManager.renderTemplate($index)}}</div>
                            </li>
                        </ul>
                    </div>
                    <div class="detailedView" ng-show="interfaceManager.menuActive=='Detailed'">
                        <div id="big"><canvas id="detailedCanvas" style="height: 100%; width: 100%"></canvas></div>
                        {{interfaceManager.renderDetailedInitial()}}
                    </div>
                    <div class="usage" ng-if="interfaceManager.menuActive=='Usage'">
                        <div class="h1group lined">
                            <h1>Manual Usage</h1><hr/>
                            <h2>Loading in files</h2>
                            <p>FITS files from the AAOmega spectrograph can be loaded into this application by dragging the file over the drop of the drag region to the top left of the screen.</p>
                            <p>For quick usage, an example FITs file courtesy of Ivan Baldry is provided:</p>
                            <ul>
                                <li><a href="https://github.com/Samreay/ThesisZ/releases/download/0.1.0/G15_Y1_CN1.fits">G15_Y1_CN1</a></li>
                            </ul>
                            <h2>Analysing Spectra</h2>
                            <p>The application begins immediately redshifting spectra in the background, presenting the preprocessed spectrum and the analysis when complete. Upon completion of analysing all available spectra, a results file is automatically downloaded.</p>
                        </div>
                        <div class="h1group lined">
                            <h1>Automatic Usage</h1>
                            <hr/>
                            <p>This has yet to be figured out. Will probably have to link a script here, or allow user to select whole folder.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="footer">
        <div class="spacing">
            <div ng-if="interfaceManager.waitingDrop()">
                <p>Please drop in a FITs file.</p>
            </div>
            <div ng-if="!interfaceManager.waitingDrop()">
                <div class="floatleft" ng-if="!interfaceManager.finishedAnalysis()">
                    <p>Analysing spectra. Please wait.   {{interfaceManager.getNumAnalysed()}}/{{interfaceManager.getNumSpectra()}}</p>
                </div>
                <div class="floatleft" ng-if="interfaceManager.finishedAnalysis()">
                    <p>Analysis finished. {{interfaceManager.getNumAnalysed()}}/{{interfaceManager.getNumSpectra()}}</p>
                </div>
                <div class="floatright" style="margin-top: -4px;" ng-if="interfaceManager.finishedAnalysis()">
                    <button class="small" ng-click="finishedProcessing()">Download</button>
                </div>
                <div class="fillrest">
                    <progress ng-value="interfaceManager.getNumAnalysed()" max="{{interfaceManager.getNumSpectra()}}" class="html5"></progress>
                </div>
            </div>
        </div>
    </div>
</body>
</html>