<!DOCTYPE html>
<html>
<head>
    <title>InterfaceZ: Return of the Z-iffying</title>
    <link rel="shortcut icon" href="images/favicon.ico" />
    <link href="css/normalize.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
    <script src="js/jquery-2.1.0.js"></script>
    <script src="js/amcharts.js"></script>
    <script src="js/amexport.js"></script>
    <script src="js/angular.js"></script>
    <script src="js/angular-animate.js"></script>
    <script src="js/angular-drop.js"></script>
    <script src="js/serial.js"></script>
    <script src="js/light.js"></script>

    <script src="js/fits.js"></script>
    <script src="js/regression.js"></script>

    <script src="js/tools.js"></script>
    <script src="js/templates.js"></script>
    <script src="js/views.js"></script>
    <script src="js/classes.js"></script>
    <script src="js/app.js"></script>

</head>
<body ng-app="thesis" ng-controller="MainController">
    <div class="main">
        <div class="header">
            <h1>InterfaceZ</h1>
            <nav class="menu" ng-click="$event.preventDefault()">
                <ul>
                    <li ng-repeat="i in interfaceManager.menuOptions" ng-click="$parent.interfaceManager.menuActive=i" ng-class="{active:i==interfaceManager.menuActive}">
                        <h2>{{i}}</h2>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="content">
            <div class="boxed fitsFileSelector left" dropzone>
                <h3 ng-show="!fits.properties[0]">Drop a FITS File</h3>
                <div class="info" ng-show="fits.properties[0]">
                    <h3>{{fits.properties[0].value}}</h3>
                    <ul>
                        <li ng-repeat="i in fits.properties | onlyDisplay"><b class="label">{{i.label}}:</b> {{i.displayValue}}</li>
                    </ul>
                </div>
            </div>
            <div class="boxed lined left spectralList scroll">
                <ul>
                    <li ng-repeat="i in spectraManager.getAll() track by i.id" ng-dblclick="$parent.goToDetailed()" ng-click="$parent.setSpectraIndex(i.index)" ng-class="{activeSelect:interfaceManager.spectraIndex==i.index}" class="spectraSmall">
                        <p>{{i.id}}</p>
                        <div class="info" id="spectra{{i.id}}">
                            <p ng-show="i.templateIndex==null">Not analysed</p>
                            <p ng-show="i.templateIndex!=null">{{i.templateIndex}}, z={{i.templateZ.toFixed(4)}} Chi2: {{i.templateChi2.toFixed(0)}}</p>
                        </div>
                    </li>
                </ul>
            </div>
            <div class="centralheader">
                <div class="overviewheader" ng-show="interfaceManager.menuActive=='Overview' || interfaceManager.menuActive=='Detailed'">
                    <p ng-click="toggleDisp('raw')">Raw</p>
                    <p ng-click="toggleDisp('pre')">Preprocessed</p>
                    <p ng-click="toggleDisp('matched')">Matched</p>
                </div>
                <div class="detailedheader" ng-show="interfaceManager.menuActive=='Detailed'">
                </div>
            </div>
            <div class="central">
                <div class="overviewList" ng-show="interfaceManager.menuActive=='Overview'">
                    <ul>
                        <li class="overviewItem lined overviewSmall" ng-dblclick="$parent.goToDetailed()" ng-click="$parent.setSpectraIndex(i.index)" ng-class="{activeSelect:interfaceManager.spectraIndex==i.index}" ng-repeat="i in spectraManager.getAll() track by i.id">
                            <div class="topbar"><b>ID: {{i.id}}</b><p ng-show="i.templateIndex!=null">T: {{i.templateIndex}}, z={{i.templateZ.toFixed(4)}} Chi2: {{i.templateChi2.toFixed(0)}}</p></div>
                            <div class="graph"><canvas id="smallGraphCanvas{{$index}}" style="width:100%; height:100%;"></canvas>{{interfaceManager.renderOverview($index)}}</div>
                        </li>
                    </ul>
                </div>
                <div class="templateList" ng-show="interfaceManager.menuActive=='Templates'">
                    <ul>
                        <li class="overviewItem lined overviewLarge" ng-repeat="t in templateManager.getAll() track by t.id">
                            <div class="topbar"><b>Template ID: {{t.id}}</b><p>Name: {{t.name}}, Lambda_start: {{t.start_lambda.toFixed(2)}} Lambda_end: {{t.end_lambda.toFixed(2)}}</p></div>
                            <div class="graph"><canvas id="smallTemplateCanvas{{$index}}" style="width:100%; height:100%;"></canvas>{{interfaceManager.renderTemplate($index)}}</div>
                        </li>
                    </ul>
                </div>
                <!--<div class="settingsList" ng-show="active=='Settings'">
                    <h3>Global Properties:</h3>
                    <ul>
                        <li ng-repeat="(name, prop) in properties"><label>{{prop.label}}:</label></li>
                    </ul>
                </div>-->
                <div class="detailedView" ng-if="interfaceManager.menuActive=='Detailed'">
                    Template:<input type="text" ng-change="$parent.interfaceManager.detailedUpdateRequired=true" ng-model="$parent.interfaceManager.detailedViewTemplate">
                    z: <input type="number" ng-change="$parent.interfaceManager.detailedUpdateRequired=true" ng-model="$parent.interfaceManager.detailedViewZ">
                    <div id="big">{{interfaceManager.renderDetailed()}}</div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>