<div class="modal" style="display: block; overflow: visible;">
    <div class="modal-dialog" style="width: 100%">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">BibTeX  Citation</h4>
            </div>
            <div class="modal-body">
                <pre>
                    <code>
@ARTICLE{Hinton2016Marz,
    author = { {Hinton}, S.~R. and {Davis}, T.~M. and {Lidman}, C. and {Glazebrook}, K. and {Lewis}, G.~F.},
    title = "{MARZ: Manual and automatic redshifting software}",
    journal = {Astronomy and Computing},
    archivePrefix = "arXiv",
    eprint = {1603.09438},
    primaryClass = "astro-ph.IM",
    keywords = {Online, Spectroscopic, Redshift, Software, Marz},
    year = 2016,
    month = apr,
    volume = 15,
    pages = {61-71},
    doi = {10.1016/j.ascom.2016.03.001},
    adsurl = {http://adsabs.harvard.edu/abs/2016A%26C....15...61H},
    adsnote = {Provided by the SAO/NASA Astrophysics Data System}
}</code>
                </pre>
            </div>
            <!--<div class="modal-footer">-->
            <!--</div>-->
        </div>
    </div>
</div>
