<div class="usage">
    <div class="h1group lined">

        <h1>Program Settings</h1>
        <hr/>
        <form class="form-horizontal" role="form">
            <div class="form-group">
                <div class="form-group cb">
                    <label for="download"
                           class="col-sm-3 control-label">{{properties.downloadAutomatically.getLabel()}}</label>

                    <div class="col-sm-9">
                        <input type="checkbox" class="form-control" id="download"
                               ng-model="properties.downloadAutomatically.temp" required="true"
                               ng-change="properties.downloadAutomatically.updateFromTemp()">
                    </div>
                </div>
                <div class="form-group cb">
                    <label for="saveauto"
                           class="col-sm-3 control-label">{{properties.saveInBackground.getLabel()}}</label>

                    <div class="col-sm-9">
                        <input type="checkbox" class="form-control" id="saveauto"
                               ng-model="properties.saveInBackground.temp" required="true"
                               ng-change="properties.saveInBackground.updateFromTemp()">
                    </div>
                </div>
                <div class="form-group">
                    <label for="cores" class="col-sm-3 control-label">{{properties.numCores.getLabel()}}</label>

                    <div class="col-sm-9">
                        <input type="number" class="form-control" id="cores" ng-model="properties.numCores.temp" min="2"
                               max="33" required="true" ng-change="properties.numCores.updateFromTemp()">
                    </div>
                </div>
            </div>
        </form>
        <button class="btn btn-primary" ng-click="resetAllProperties()">Reset settings to defaults</button>
    </div>
    <div class="h1group lined">

        <h1>Saved Results</h1>
        <hr/>
        <p>Be careful with these buttons. They are not reversible, and if you haven't downloaded your results, you will lose work.</p>
        <button class="btn btn-warning" ng-click="clearCurrentFile()" tooltip="Cleared!" tooltip-trigger="focus"
                tooltip-placement="bottom">Clear ALL results for this file
        </button>
        <button class="btn btn-danger" ng-click="clearAll()" tooltip="Cleared!" tooltip-trigger="focus"
                tooltip-placement="bottom">Clear all internally saved results for ALL files
        </button>
    </div>
</div>