<div class="overviewList">
    <ul class="list-unstyled" ng-show="interfaceManager.overviewGraph">
        <li class="overviewItem lined" ng-dblclick="$parent.goToDetailed()" ng-click="$parent.setSpectraIndex(i.index)" ng-class="{activeSelect:interfaceManager.spectraIndex==i.index}" ng-repeat="i in spectraManager.getAll() track by i.id">
            <div class="topbar"><b>ID: {{i.id}}</b><p ng-show="i.getFinalRedshift()!=null">z={{i.getFinalRedshift().toFixed(4)}} QOP: {{i.getQOP()}}</p></div>
            <div class="graph"><canvas id="smallGraphCanvas{{$index}}" style="width:100%; height:100%;"></canvas>{{interfaceManager.renderOverview($index)}}</div>
        </li>
    </ul>
    <div ng-show="!interfaceManager.overviewGraph">
        <table class="overviewTable table table-striped table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>
                    <a href="#" ng-click="interfaceManager.overviewSortField='id'; interfaceManager.overviewReverseSort = !interfaceManager.overviewReverseSort">
                        ID <span ng-show="interfaceManager.overviewSortField == 'id'"><span ng-show="!interfaceManager.overviewReverseSort">^</span><span ng-show="interfaceManager.overviewReverseSort">v</span></span>
                    </a>
                </th>
                <th>
                <a href="#" ng-click="interfaceManager.overviewSortField='type'; interfaceManager.overviewReverseSort = !interfaceManager.overviewReverseSort">
                    Type <span ng-show="interfaceManager.overviewSortField == 'type'"><span ng-show="!interfaceManager.overviewReverseSort">^</span><span ng-show="interfaceManager.overviewReverseSort">v</span></span>
                </a>
            </th>
                <th>
                    <a href="#" ng-click="interfaceManager.overviewSortField='finalTemplateID'; interfaceManager.overviewReverseSort = !interfaceManager.overviewReverseSort">
                        Template ID<span ng-show="interfaceManager.overviewSortField == 'finalTemplateID'"><span ng-show="!interfaceManager.overviewReverseSort">^</span><span ng-show="interfaceManager.overviewReverseSort">v</span></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="interfaceManager.overviewSortField='finalTemplateName'; interfaceManager.overviewReverseSort = !interfaceManager.overviewReverseSort">
                        Template<span ng-show="interfaceManager.overviewSortField == 'finalTemplateName'"><span ng-show="!interfaceManager.overviewReverseSort">^</span><span ng-show="interfaceManager.overviewReverseSort">v</span></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="interfaceManager.overviewSortField='finalZ'; interfaceManager.overviewReverseSort = !interfaceManager.overviewReverseSort">
                        Redshift <span ng-show="interfaceManager.overviewSortField == 'finalZ'"><span ng-show="!interfaceManager.overviewReverseSort">^</span><span ng-show="interfaceManager.overviewReverseSort">v</span></span>
                    </a>
                </th>
                <th>
                    <a href="#" ng-click="interfaceManager.overviewSortField='manualQOP'; interfaceManager.overviewReverseSort = !interfaceManager.overviewReverseSort">
                        QOP <span ng-show="interfaceManager.overviewSortField == 'manualQOP'"><span ng-show="!interfaceManager.overviewReverseSort">^</span><span ng-show="interfaceManager.overviewReverseSort">v</span></span>
                    </a>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr ng-class="{activeSelect:interfaceManager.spectraIndex==i.index}" ng-click="$parent.setSpectraIndex(i.index)" ng-dblclick="$parent.goToDetailed()" ng-repeat="i in spectraManager.getAll()|orderBy:sortOverview:interfaceManager.overviewReverseSort">
                <td>{{i.id}}</td>
                <td>{{i.type}}</td>
                <td>{{i.getFinalTemplateID()}}</td>
                <td>{{i.getFinalTemplateName()}}</td>
                <td>{{i.getFinalRedshift().toFixed(4)}}</td>
                <td>{{i.finalQOP}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>