<div class="usage">
    <div class="h1group lined">
        <h1>Manual Usage</h1><hr/>
        <h2>Loading in files</h2>
        <p>FITS files from the AAOmega spectrograph can be loaded into this application by dragging the file over the drop of the drag region to the top left of the screen.</p>
        <p>For quick usage, an example FITs file courtesy of Ivan Baldry is provided:</p>
        <ul>
            <li><a href="https://github.com/Samreay/ThesisZ/releases/download/0.1.0/G15_Y1_CN1.fits">G15_Y1_CN1</a></li>
        </ul>
        <h2>Analysing Spectra</h2>
        <p>The application begins immediately redshifting spectra in the background, presenting the preprocessed spectrum and the analysis when complete. Upon completion of analysing all available spectra, a results file is automatically downloaded.</p>
    </div>
    <div class="h1group lined">
        <h1>Using the Detailed View</h1>
        <hr/>
        <p>The detailed view allows users take processed spectra and manually redshift them. This can be accomplished in two main ways, matching templates or finding spectral lines.</p>
        <h2>Matching Templates</h2>
        <p>Templates can be cycled through in the right hand panel, with the redshift and scale of each template changed.</p>
        <h2>Assigning spectral lines</h2>
        <p>If obvious emission or absorption lines can be seen in the spectra, you can assign them to specific element transitions. This can be done via clicking on the graph at the point of interest, and then selecting a spectral line on the right hand side.</p>
        <p>Results can be saved via pressing the 'Save Template' button.</p>
    </div>
</div>