<div class="detailedView filler">
    <div class="panel panel-default detailed-control">
        <div class="panel-heading">
            <strong>ID</strong> {{getActive().id}}
            <strong>NAME</strong> {{getActive().name}}
            <strong>RA</strong> {{getActive().ra.toFixed(6)}}
            <strong>DEC</strong> {{getActive().dec.toFixed(6)}}
            <strong>MAGNITUDE</strong> {{getActive().magnitude.toFixed(2)}}
            <strong>TYPE</strong> {{getActive().type}}
        </div>
        <ul class="list-group">
            <li class="list-group-item form-inline">
                <div class="form-group btn-group">
                    <div class="btn-group"><button style="width:80px" type="button" class='btn btn-darkened btn-block btn-sm' ng-click="toggleRaw()">Raw</button></div>
                    <div class="btn-group"><button style="width:80px" type="button" class='btn btn-success btn-block btn-sm' ng-click="toggleProcessed()">Processed</button></div>
                    <div class="btn-group"><button style="width:80px" type="button" class='btn btn-danger btn-block btn-sm'  ng-click="toggleMatched()">Template</button></div>
                    <div class="btn-group"><button style="width:80px" type="button" class='btn btn-info btn-block btn-sm'  ng-click="toggleSky()">Sky</button></div>
                </div>
                <div class="form-group" style="height: 30px">
                    <toggle-switch style="width: 170px" model="settings.continuum" knob-label="Continuum"><toggle-switch>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="width: 245px">
                        <span class="input-group-addon">Smooth</span>
                        <input type="text input-sm" class="form-control" ng-model="settings.smooth">
                        <span class="input-group-addon"><input style="width:120px;" type="range" min="0" max="{{bounds.maxSmooth}}" ng-model="settings.smooth"></span>
                    </div>
                </div>
            </li>
            <li class="list-group-item form-inline">
                <div class="form-group">
                    <div class="input-group input-group-sm" style="width: 340px">
                        <span class="input-group-addon">Template</span>
                        <select class="form-control" style="width: 265px" ng-model="settings.templateId" data-ng-options="t.id as t.id + ' - ' + t.name for t in getTemplatesList()"></select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group input-group-sm" style="width:634px">
                        <span class="input-group-addon">Redshift</span>
                        <input type="text" id="redshiftInput" class="form-control" ng-change="changedRedshift()" ng-model="settings.redshift">
                        <span class="input-group-addon" style="width:494px"><input  type="range" min={{settings.bounds.redshiftMin}} max="{{settings.bounds.redshiftMax}}" step="0.0001" ng-change="changedRedshift()" ng-model="settings.redshift"></span>
                    </div>
                </div>
            </li>
            <li class="list-group-item form-inline">
                    <button class="form-group btn btn-primary btn-sm" style="display: inline-block;" ng-click="toggleSpectralLines()">{{getSpectralLinePhrase()}}</button>
                    <ul class="form-group list-unstyled list-inline" ng-class="{glowing:isWaitingForSpectralLine()}">
                        <li class="sline lined" ng-class="{enabled:i.enabled}" ng-click="clickSpectralLine(i.id)" ng-repeat="i in getSpectralLines() track by i.id">
                            {{i.label}}
                        </li>
                    </ul>
            </li>
         </ul>
    </div>
    <!--
    <div class="blocky detailedInput clearfix" ng-if="hasActive()">
            <label>Top Results:</label>
            <div style="display: inline-block;" ng-if="showTopResults()">
                <div class="btn-group">
                    <button class="btn btn-sm btn-default" btn-radio="$index" ng-click="selectMatch(i)" ng-model="settings.matchedIndex" ng-repeat="i in getMatches() track by $index">{{$index + 1}}</button>
                </div>
                <p ng-show="isCurrentlyMatching()" class="inline" style="margin-left: 10px; line-height: 30px;"><em>{{getMatchedTemplateName()}}</em> at z = <em>{{getMatchedTemplateRedshift()}}</em></p>
                <div class="clearfix"></div>
            </div>
            <p class="inlineblock" ng-if="!hasMatchingDetails()">No results list found.<button style="margin-left: 20px;" class="btn btn-xs btn-primary pull-right" ng-click="reanalyseSpectra()">Reanalyse and get full results</button></p>
        </div>
        -->
    <div style="position: absolute; top: 160px; bottom: 0; left: 0; right: 0">
        <canvas id="detailedCanvas" detailed-item></canvas>
    </div>
</div>