<div id="header" ng-controller="NavbarController">
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="max-height: 50px; overflow: hidden;">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand pull-left" style="padding: 5px;" href="#"><img style="display: inline; height: 40px;" src="images/Marz.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ng-repeat="i in states" ng-class="{active:isActive(i.name)}"><a class="right-padding-medium capitalise" ui-sref="{{i.name}}">
                        <span class="text-increase-small glyphicon glyphicon-{{i.icon}}"></span>
                        {{i.name}}
                    </a></li>
                </ul>
                <div class="navbar-form navbar-left file-completion" ng-if="quality.max > 0">
                        <p class="navbar-progress-text">File completion:</p>
                        <progress class="navbar-progress progress-striped active" max="quality.max">
                            <bar ng-repeat="bar in quality.bars" value="bar.value" type="{{bar.type}}">
                                <span ng-hide="bar.label < 3">{{bar.label}}</span>
                            </bar>
                        </progress>
                </div>
                <form class="navbar-form navbar-right">
                    <div class="form-group">
                        <input type="text" class="form-control" style="width: 100px; padding: 6px 6px;" placeholder="Enter initials" ng-model="personal.initials" ng-change="changeInitials()">
                    </div>
                </form>
            </div>
        </div>
    </nav>
</div>