<accordion close-others="true">
    <accordion-group heading="Introduction" is-open="true">
        <h4>The program's purpose</h4>
        <p>This program is designed to take files from the AAOmega spectrograph after data reduction and allow redshifting of the spectra within.</p>
        <hr />
        <h4>30 second rundown</h4>
        <p>Take a <code>fits</code> file, drag it into the drop area to the left, wait for the program to automatically analyse all files.</p>
        <p>Double click the first spectra, if the automatic redshift is correct just assign a quality and move on. If not, find a feature, click on it, and then select which emission to mark it as. Once happy, select a quality and move on.</p>
        <p>When all spectra are done, hit the download button on the bottom right. Don't worry if you accidentally close the browser, results get saved internally automatically. Just reopen the browser, drag in the same file, and your results will appear instantly.</p>
        <hr />
        <h4>Problems or feature requests</h4>
        <p>If any bugs are found with the program, or there are features which could be added or improved to make life easier, please either raise an issue on the official Github issue page or send an email to me (the developer).</p>
        <ul>
            <li><a href="https://github.com/Samreay/ThesisZ/issues">Github issues page</a></li>
            <li><address><a href="mailto:samuelreay@gmail.com">Send me an email</a></address></li>
        </ul>
    </accordion-group>
    <accordion-group heading="Loading Files">
        <h4>Loading Files</h4>
        <p>Files can be loaded into the system by dragging them over the top left hand dashed box. The application will accept <code>.fits</code> files from the AAOmega spectrograph containing spectra, and <code>.txt</code> files containing saved results.</p>

        <p>To start from scratch, simply drag in a fits file and let the application start analysis. If you have previously been analysing the file and saved results, you can load these results back in by dragging in the previously download results file. The order of drag and drop does not matter. The application allows dragging them both in simultaneously, or in either order. Note that if you want to analyse a different fits file or stop using results, you must refresh the page (to be updated in the future).</p>
        <p>For quick usage, a few example FITS files that Conor O'Neil has been using in his project are provided:</p>
        <ul>
            <li><a href="https://github.com/Samreay/ThesisZ/releases/download/0.2.0/alldata_combined_runz_x12_b02.fits">alldata_combined_runz_x12_b02</a></li>
            <li><a href="https://github.com/Samreay/ThesisZ/releases/download/0.2.0/alldata_combined_runz_x6_b02.fits">alldata_combined_runz_x6_b02</a></li>
            <li><a href="https://github.com/Samreay/ThesisZ/releases/download/0.2.0/alldata_combined_runz_x3_b02.fits">alldata_combined_runz_x3_b02</a></li>
            <li><a href="https://github.com/Samreay/ThesisZ/releases/download/0.2.0/alldata_combined_runz_x1_b02.fits">alldata_combined_runz_x1_b02</a></li>
        </ul>
        <hr />
        <h4>Background Tasks</h4>
        <p>At the moment, the application processes spectra in two ways. Firstly, it iterates through all spectra and processes the raw data, providing smoothing, removal of cosmic rays, continuum subtraction and normalisation. It then goes back over the processed spectra and analyses them to find the best fitting template at a specific redshift. Whether or not the processing and analysing are done in the same instance or one after the other will become a configurable item.</p>
        <p>The state of the current background iteration is shown in the progress bar at the bottom of the screen. A green bar, matching the green plots, represents the progress through processing the spectra. The progress of the red bar (which comes after the green has finished) and matches the colour of the templates, represents the progress through analysing the spectra. The bar will turn blue when all spectra have been assigned a redshift.</p>
    </accordion-group>
    <accordion-group heading="The Overview Screen">
        <p>The overview screen allows a high level overview of all spectra to be quickly given to the user. Through the control menu on the right hand side of the screen, users can toggle data sets on and off.</p>
        <p>Users can also switch between a graphical overview, and a more compact table view, which allows sorting of the spectra based on ID, template, redshift or QOP. Sorting of the graphical view is coming very soon.</p>
    </accordion-group>
    <accordion-group heading="The Detailed Screen">
        <p>The detailed view allows users take processed spectra and manually redshift them. This can be accomplished in two main ways, matching templates or finding spectral lines. Note that keyboard shortcuts are not yet implemented.</p>
        <hr />
        <h4>Matching Templates</h4>
        <p>Templates can be cycled through in the bottom control panel, with the redshift and scale of each template changed. Whilst at the moment the only way to change the redshift is to move the redshift slider or type in the desired redshift, the ability to slide the template plot left and right is going to be added in.</p>
        <hr />
        <h4>Assigning spectral lines</h4>
        <p>If obvious emission or absorption lines can be seen in the spectra, you can assign them to specific element transitions. This can be done via clicking on the graph at the point of interest, and then selecting a spectral line on the right hand side. This will update the redshift of the template. It can be desirable when matching spectral lines to hide the template and raw data graphs, which is done by clicking on them on the top right hand corner, the same as in the overview page.</p>
        <hr />
        <h4>Saving Results</h4>
        <p>Results can be saved via pressing any one of the "Save this redshift with a QOP of..." buttons. A spectra that has only gone through the manual processing will have a QOP of 0 by default. Eventually automatically assigned redshifts will be given their own automatic QOP, distinct from a manually assigned one. Saved results can be downloaded by clicking the "Download" button on the bottom right hand corner of the screen.</p>
        <hr />
        <h4>Top Automatic Results</h4>
        <p>By default, the initial automatic result shown is that with the best performance. You can iterate through the top {{interfaceManager.maxMatchedIndex}} results by clicking on their respective ranking numbers. Also, pressing the <code>o</code> key </p>
    </accordion-group>
    <accordion-group heading="The Templates Screen">
        <p>The templates screen for now only provides a simple graphical view of all the templates used by the application to match spectra.</p>
    </accordion-group>
    <accordion-group heading="The Settings Screen">
        <p>The settings screen allows configuration of the program. All changes on the Settings screen are <strong>instantly</strong> applied on change, and do not need to be saved. The settings are stored as cookie values, and will persist between sessions.</p>
        <p>The options to clear the internal saved data are irreversible. If you have saved <code>txt</code> output via downloading the results, these can still be loaded in without hassle, this section only pertains to the automatic background saving of results.</p>
    </accordion-group>
    <accordion-group heading="Keybindings">
        <p>Many key bindings have been added to this application from the RUNZ default keymapping to make usage easier. The following commands are available:
            <keybind bind="bind" ng-repeat="bind in keybinds"></keybind>
    </accordion-group>
</accordion>